<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
</head>

<body>

    <header>
        <h1>Agenda</h1>
        <img src="../static/images/" alt="imagen de calendario" title="img calendar">
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="agenda.html">Agenda</a></li>
            <li><a href="beneficios.html">Beneficios y Beca</a></li>
            <li><a href="contacto.htm">Contáctanos</a></li>
        </ul>
    </nav>

    <section>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est nisi deleniti maxime, minus eveniet tenetur harum culpa molestias consequatur, voluptatem provident iure, dolorem excepturi adipisci asperiores corrupti! Animi illum omnis officia vitae quaerat deleniti doloribus aliquam molestias repellat asperiores ea quisquam laudantium maxime, aliquid cupiditate atque voluptas excepturi culpa voluptatem recusandae aspernatur, accusamus blanditiis nobis ullam! Deserunt dolores expedita, aspernatur tenetur quis distinctio ullam, perferendis eos eius beatae alias nemo.</p>
        <video src="../static/videos/" controls></video>
    </section>

    <footer>
        <p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República Argentina.</p>
    </footer>
</body>

</html>