<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>

<body>
    <header>
        <h1>Contacto</h1>
        <img src="../static/images/" alt="">
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="agenda.html">Agenda</a></li>
            <li><a href="beneficios.html">Beneficios y Beca</a></li>
            <li><a href="contacto.htm">Contáctanos</a></li>
        </ul>
    </nav>

    <form action="" method="post">
        <label for="">Nombre y Apellido:</label>
        <input type="text">
        <br />
        <label for="">Provincia: </label>
        <select name="" id="">
            <option value="">Jujuy</option>
            <option value="">Salta</option>
            <option value="">Cordoba</option>
        </select>
        <br />
        <label for="">Telefono: </label>
        <input type="number">
        <br />
        <label for="">Correo electrónico:</label>
        <input type="email" required="required">
        <br />
        <label for="">Estado Civil:</label>
        <div class="">
            <label for="casado">Casado</label>
            <input type="radio" id="casado" value="casado" name="tipoestadocivil"> <br />
            <label for=" Soltero "> Soltero </label>
            <input type="radio" id="solter" value="soltero" name="tipoestadocivil"><br />
            <label for="">Otro</label>
            <input type="radio" id="otro" value="otro" name="tipoestadocivil"> <br />
        </div>
        <br />
        <label for="">Mensaje:</label>
        <textarea name="" id="" cols="30" rows="10" placeholder="escriba su mensaje aquí">

        </textarea>
        <br />
        <button type="submit">Enviar Datos</button>
    </form>

    <footer>
        <p>
            2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy
            República Argentina.
        </p>
    </footer>
</body>

</html>